		<h1>Entradas y Salidas</h1>
		<h2>Controle la entrada y salida de artículos</h2>
		<h5>1. Cree artículos</h5>
		<h5>2. Genere el reporte de artículos con código de barras</h5>
		<h5>3. Registre una entrada de un artículo con su valor de venta y compra</h5>
		<h5>4. Venda artículos</h5>
		<h5>5. Genere el reporte de entrada y salida de artículos</h5>



