<footer class="footer">
  <div id="fcontainer" class="container">
  <small>
    <a href="http://www.nanducho.com/"> The Apps for Web & Mobile by 
    Nanducho <img alt="Logo Nanducho" src="/images/logo_nanducho.png" /> 
    </a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   'http://nanducho.com/ndchterminos.html', :target => "_blank " %></li>      
      <li><%= link_to "Contact", 'http://nanducho.com/html-contact-form.php', :target => "_blank " %></li>
      <li><%= link_to "Twitter @Nanducho", 'https://twitter.com/nanduchocom', :target => "_blank "%></li>        
    </ul>
  </nav>
  </div>
</footer>
